%footer.global-footer
  %nav.global-footer-inner
    %ul.global-footer-inner-box
      %li.footer-cell
        %h2.footer-head メルカリについて
        %ul
          %li.first-child
            %a{href: "https://about.mercari.com/", class: "contents-list-link"} 会社概要（運営会社）
          %li.contents-list
            %a{href:"https://www.mercari.com/jp/privacy/", class: "contents-list-link"} プライバシーポリシー
          %li.contents-list
            %a{href: "https://www.mercari.com/jp/tos/", class: "contents-list-link"} メルカリ利用規約
          %li.contents-list
            %a{href: "https://www.mercari.com/jp/tos_paid_point/", class: "contents-list-link"} メルカリ利用規約・有償ポイントに関する特約
          %li.contents-list
            %a{href: "https://www.mercari.com/jp/tos_smartphone_support/", class: "contents-list-link"} あんしんスマホサポート制度に関する利用特約
          %li.contents-list
            %a{href: "https://www.mercari.com/jp/compliance/", class: "contents-list-link"} コンプライアンスポリシー
          %li.contents-list
            %a{href: "https://www.mercari.com/jp/data_security/", class: "contents-list-link"} 個人データの安全管理に係る基本方針
          %li.contents-list
            %a{href: "https://www.mercari.com/jp/tokutei/", class: "contents-list-link"} 特定商取引に関する表記
          %li.contents-list
            %a{href: "https://www.mercari.com/jp/shikin_kessai/", class: "contents-list-link"} 資金決済法に基づく表示
          %li.contents-list
            %a{href: "https://about.mercari.com/csr/safety/", class: "contents-list-link"} 法令順守と犯罪抑止のために
          %li.contents-list
            %a{href: "https://www.mercari.com/jp/jobs/", class: "contents-list-link"} 採用情報
      %li.footer-cell
        %h2.footer-head メルカリを見る
        %ul
          %li.first-child
            %a{href: "https://www.mercari.com/jp/category/", class: "contents-list-link"} カテゴリー一覧
          %li.contents-list
            %a{href: "https://www.mercari.com/jp/brand/", class: "contents-list-link"} ブランド一覧
          %li.contents-list
            %a{href: "https://www.mercari.com/jp/area/", class: "contents-list-link"} 出品地域一覧
          %li.contents-list
            %a{href: "https://jp-news.mercari.com/", target: "_blank", class: "contents-list-link"} 公式ブログ
          %li.contents-list
            %a{href: "https://twitter.com/mercari_jp", target: "_blank", class: "contents-list-link"} 公式Twitter
          %li.contents-list
            %a{href: "https://www.facebook.com/mercarijp", target: "_blank", class: "contents-list-link"} 公式Facebook
      %li.footer-cell
        %h2.footer-head ヘルプ＆ガイド
        %ul
          %li.first-child
            %a{href: "https://www.mercari.com/jp/help_center/", class: "contents-list-link"} メルカリガイド
          %li.contents-list
            %a{href: "https://www.mercari.com/jp/logo-guidelines/", class: "contents-list-link"} メルカリロゴ利用ガイドライン
          %li.contents-list
            %a{href: "https://about.mercari.com/press/news/", class: "contents-list-link"} お知らせ
          %li.contents-list
            %a{href: "https://www.mercari.com/jp/rakuraku-mercari/", class: "contents-list-link"} らくらくメルカリ便とは
          %li.contents-list
            %a{href: "https://www.mercari.com/jp/yuyu-mercari/", class: "contents-list-link"} ゆうゆうメルカリ便とは
          %li.contents-list
            %a{href: "https://www.mercari.com/jp/rakuraku-ogata/", class: "contents-list-link"} 大型らくらくメルカリ便とは
          %li.contents-list
            %a{href: "https://www.mercari.com/jp/guide/car/", class: "contents-list-link"} 車体取引ガイド
          %li.contents-list
            %a{href: "https://www.mercari.com/jp/refund-returns/", class: "contents-list-link"} 返品・返金ポリシー
          %li.contents-list
            %a{href: "https://www.mercari.com/jp/safe/description/", target: "_blank", class: "contents-list-link"} メルカリあんしん・あんぜん宣言！
          %li.contents-list
            %a{href: "https://www.mercari.com/jp/authenticity/", class: "contents-list-link"} 偽ブランド品撲滅への取り組み
          %li.contents-list
            %a{href: "https://www.mercari.com/jp/box/", class: "contents-list-link"} メルカリボックス
      %li.footer-cell
        %h2.footer-head 国
        %ul.footer-nav-lang
          %li.first-child
            %a{href: "https://www.mercari.com/", class: "contents-list-link"}
              %img{alt: "", src: "//www-mercari-jp.akamaized.net/assets/img/common/common/flag_us.png?1076135930", width: "22"}>/
              United States
          %li.contents-list
            %a{href: "https://www.mercari.com/uk/", class: "contents-list-link"}
              %img{alt: "", src: "//www-mercari-jp.akamaized.net/assets/img/common/common/flag_uk.png?1076135930", width: "22"}>/
              United Kingdom
          %li.contents-list
            %a.active{href: "https://www.mercari.com/jp/", class: "contents-list-link"}
              %img{alt: "", src: "//www-mercari-jp.akamaized.net/assets/img/common/common/flag_jp.png?1076135930", width: "22"}>/
              日本
  .footer-bottom-box
    %a.footer-logo{href: "https://www.mercari.com/jp/"}
      %img{alt: "mercari", height: "33", src: "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-white.svg?1076135930", width: "124", class: "footer-logo-icon"}/
    %p.footer-copyright
      %small © 2018 Mercari
%a.footer-sell-btn{href: "/items/#{current_user.id}/item_sell"}
  %div.sell-icon 出品
  %i.icon-camera
    =fa_icon 'camera', class: "camera_icon"
