%nav.bread-crumbs
  %ul.bread-crumbs__inner
    %li{itemscope: "", itemtype: "http://data-vocabulary.org/Breadcrumb", class: "bread-crumbs-mercari-list"}
      %a{href: "https://www.mercari.com/jp/", itemprop: "url", class: "bread-crumbs-mercari-url"}
        %span.mercari{itemprop: "title"} メルカリ
      %i.fas.fa-angle-right
    %li{itemscope: "", itemtype: "http://data-vocabulary.org/Breadcrumb", class: "bread-crumbs-name-list"}
      %span.name{itemprop: "title"} イヤリング ゴールド
