.main-box{
  width: 100%;
  height: 1292px;
  background-color: #F8F8F8;
}
  .l-container-profile.clearfix{
    width: 1020px;
    height: 1292px;
    background-color: #F8F8F8;
    margin: 40px auto 0;
    padding: 0 0 40px;

  }
    .l-content-profile{
      float: right;
      position: absolute; top: 150px; right: 210px;
      background-color: #fff;
    }

      .l-chapter-container-profile{
        height: 568px;
        width: 700px;
      }

        .l-chapter-head-profile{
          margin-top: 20px;
          width: 650px;
          height: 50px;
          font-size: 24px;
          padding: 8px 24px;
          border-bottom: 1px solid #f5f5f5;
          text-align: center;
          background-color: white;
        }

        .setting-profile-icon-profile{
          padding: 72px 16px 24px;
          background: yellow;
          background-size: cover;
          text-align: center;

          figure{
            display: inline-block;
            overflow: hidden;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            vertical-align: middle;

            .mypic{
              width: 60px;
              height: 60px;
            }
          }

          .input-text{
            width: 200px;
            margin: 0 0 0 8px;
            vertical-align: middle;
            height: 28px;
            padding: 10px 16px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: #fff;
            line-height: 1.5;
            font-size: 16px;
          }
        }

.setting-profile-content{
  padding: 40px 16px;

  .textarea-default{
    min-height: 216px;
    display: block;
    width: 97%;
    padding: 10px;
    border: 1px solid #ccc;
    background: #fff;
    font-size: 16px;
    line-height: 1.5;
    position: relative; right: -10px;
  }

  .btn-red-profile{
    margin: 16px 45px 0;
    background: #ea352d;
    color: #fff;
    display: block;
    width: 90%;
    line-height: 48px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    position: absolute; right: -5px;
  }
}

  .l-side-profile{
    display: block;
    float: left;
    width: 280px;
    height: 1178px;
    margin-right: 40px;
    background-color: #fafafa;
    position: absolute; top: 150px; left: 210px;

      ul.mypage-nav-list{
        padding-inline-start: 0px;
      }

      li.mypage-nav-list-each{
        border-top: 1px solid #eee;
        font-size: 13px;
        height: 45px;
        background: #fff;
        list-style: none;
        display: block;
        display: flex;
        align-items: center;

        .mypage-nav-list-item{
          position: relative;
          display: block;
        }

        a{
          color: #000;
        }
      }

      li.mypage-nav-list-each.active{
        background: #ccc;
        font-weight: 600;
        height: 45px;
        display: block;
        list-style: none;
        display: block;
        display: flex;
        align-items: center;
      }

      .mypage-nav-head{
        margin: 40px 0 4px 0px;
        width: 280px;
        font-size: 16px;
        font-weight: 600;
      }
    }

    .bold{
      font-weight: 600;
    }


    a{
      text-decoration: none;
    }

    .mypage-nav-list li:hover{
      background: #f5f5f5;
    }
