.header
  = render "shared/sub_header"

.single-container
  %main.single-buy-item-conf-main
    %section.buy-item-conf-item-container
      %h2.l-single-head.bold 購入を確定しますか？


      %section.buy-item-conf-content.buy-item-conf-item
        .buy-item-conf-content-inner
          .buy-item-conf-item-image
            %img{alt: "", src: "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m51082647018_1.jpg?1544090699"}/
          %p.buy-item-conf-item-name.bold ガスパッチョ フリース ブランケット



          %p.buy-item-conf-price-ja.bold
            ¥ 350
            %span.item-shipping-fee.f14.bold 送料込み

          %ul.buy-item-conf-accordion
            %li.accordion-parent
              .accordion-toggle
                ポイントはありません
          %ul.buy-item-conf-price-table
            %li.buy-item-conf-price-row.buy-item-conf-you-pay.bold
              .buy-item-conf-price-cell.clear-fix
                .buy-item-conf-price-cell-left 支払い金額
                .buy-item-conf-price-cell-right
                  %span{"data-buy-item-conf-pay" => "350"} ¥ 350
          %ul.buy-item-conf-accordion
            %li.accordion-parent
            = form_tag(action: :purchase, method: :post) do
              %script{class: "payjp-button", type: "text/javascript", src: "https://checkout.pay.jp", "data-text": "購入する", "data-key": PAYJP_PUBLIC_KEY}

      %section.buy-item-conf-content.buy-item-conf-user-info
        .buy-item-conf-content-inner
          %h3 配送先
          %address.buy-item-conf-user-info-text
            〒142-0064
            %br/
            東京都 品川区
            住所6-27-9
            マンション名803
            %br/
            苗字 名前
          %p.buy-item-conf-user-info-text
          %a.buy-item-conf-user-info-fix{href: ""}
            %span 変更する
            %i.fas.fa-chevron-right


      %section.buy-item-conf-content.buy-item-conf-user-info{"data-buy-item-conf" => "pay-method"}
        .buy-item-conf-content-inner
          %h3 支払い方法
          %p.buy-item-conf-user-info-text
            ****************
            %br/
            04 / 22
            %figure
              .creditcard-image
              = image_tag 'visa.png', class: "creditcard_icon"
              / %img{:alt => "jcb", :height => "20", :src => "///assets/img/card/jcb.svg?206587138", :width => "26"}/
          %a.buy-item-conf-user-info-fix{href: ""}
            %span 変更する
            %i.fas.fa-chevron-right

.footer
  = render "shared/sub_footer"
