
.single-main {
	height: 400px;
	width: 100%;
	background-color: #F8F8F8;
}

.main-container {
	height: 400px;
	width: 50%;
	margin: 0 auto;
	background-color: white;
}

.register {
	height: 100px;
	text-align: center;
	border-bottom: solid 2px;
	border-bottom-color: #F8F8F8;
}

.register h2 {
	line-height: 100px;
	font-size: 20px;
}

.login-form {
	margin-bottom: 0;
}


.login-input {
	text-align: center;
}

.new-input {
	height: 50px;
	width: 63%;
	margin-top: 0!important;
    margin-left: 105px;
}

.new-conf {
    height: 50px;
	width: 63%;
    margin-left: 120px;
}

.new-btn {
    padding: 20px;
	margin-top: 50px;
	margin-left: 130px;
	width: 60%;
	height: 50px;
	border: solid 1px;
	border-color: white;
	background-color: #DC143C;
	color: white;
	line-height: 5px;
}
