main{
  background: #eee;
}

.l-container{
    padding: 40px 0;
    margin: 0 auto;
    width: 1020px;
    height: 1292px;

    .l-content{
      float: right;
      width: 700px;
      background: #fff;

      .mypage-user-icon{
        height: 160px;
        position: relative;
        padding: 20px;
        background: yellow;

        a{
          display: block;
          position: absolute;
          top: 21%;
          left: 0;
          right: 0;
          color: #333;
        }

        figure{
          overflow: hidden;
          width: 60px;
          height: 60px;
          margin: 0 auto;
          border-radius: 50%;

          img{
            width: 60px;
            height: 60px;
          }
        }

        h2{
          margin: 8px 0 0;
          font-size: 12px;
          text-align: center;
        }

        .mypage-number{
          margin: 8px 0 0;
          font-size: 0;
          text-align: center;

          .evaluation{
            display: inline-block;
            font-size: 13px;
          }

          .solditems{
            display: inline-block;
            font-size: 13px;
            margin: 0 0 0 16px;
          }

          .bold{
            display: inline-block;
            margin: 0 0 0 8px;
            font-size: 14px;
          }
        }
      }

      .mypage-tab-container-notification-todo{
        margin: 0;
        background: #fff;
      }

      .mypage-tabs{
        border: 0;
        font-size: 0;
        background: #ddd;
        padding-inline-start: 0px;

        li{
          width: 50%;
          display: inline-block;
          text-align: center;
          vertical-align: top;
        }

        li.active{
          background: white;
          border-top: 2px solid red;
          .change{
          }
        }

        h3{
          font-size: 22px;
          cursor: pointer;

          .change{
            position: relative;
            display: block;
            color: #333;
            font-size: 16px;
            line-height: 72px;
            font-weight: 600;
          }
        }
      }

      .tab-content{

        .tab-pane.active{
          display: block;
        }

        .tab-pane{
          display: none;
        }

        .mypage-item-not-found.bold{
          padding: 160px;
          background-size: 78px 85px;
          text-align: center;
          font-size: 16px;
          color: #ccc
        }
      }

      .adjustment{
        height: 40px;
        width: 700px;
        background: #eee;
      }

      .mypage-tab-container{
        background: #fff;

        .mypage-tab-head{
          padding: 0 16px;
          background: #fafafa;
          font-size: 16px;
          line-height: 72px;
        }
      }
    }
  }

    .l-side{
      float: left;
      width: 280px;
      margin: 0 40px 0 0;
      position: absolute; top: 32px;
      ul{
        padding-inline-start: 0px;
      }
      li{
        border-top: 1px solid #eee;
        font-size: 13px;
        height: 48px;
        background: #fff;
        list-style: none;

        .mypage-nav-list-item{
          position: relative;
          display: block;
          padding: 16px;
        }

        a{
          color: #000;
        }
      }

      li.active{
        background: #ccc;
        font-weight: 600;
      }

      .mypage-nav-head{
        margin: 40px 0 4px 0px;
        width: 280px;
        font-size: 16px;
        font-weight: 600;
      }
    }

    .bold{
      font-weight: 600;
    }

    h2{
      line-height: 1.4;
    }

    a{
      text-decoration: none;
    }

    .mypage-nav-list li:hover{
      background: #f5f5f5f5;
    }
